@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("../fonts/standard-blackletter.otf") format("opentype");
}

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}

section[epub|type~="dedication"] > p:first-of-type{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: right;
}

section[epub|type~="dedication"] > p:last-of-type{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}
/* End centered dedications */

footer{
	margin-top: 1em;
	text-align: right;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* Images */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

#silverspot-the-story-of-a-crow figure img{
	display: block;
	margin: auto;
	max-height: 10vh;
	max-width: 100%;
}

#raggylug-the-story-of-a-cottontail-rabbit figure img{
	display: block;
	margin: auto;
	max-height: 20vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}
/* End images */

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"],
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

article > header [epub|type~="epigraph"] + *,
section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	article > header [epub|type~="epigraph"],
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

blockquote[epub|type~="epigraph"]{
	font-family: "Standard Blackletter";
	font-style: normal;
	font-variant: normal;
}

article > section > blockquote[epub|type="z3998:song"]{
	font-style: italic;
}

ul{
	list-style: none;
}

#redruff-the-story-of-the-don-valley-partridge-5 p:nth-of-type(5){
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}